@import url('https://fonts.cdnfonts.com/css/general-sans');

@import "tailwindcss";

/*
@tailwind base;
@tailwind components;
@tailwind utilities;
*/

@import url('https://fonts.cdnfonts.com/css/general-sans');

* {
  scroll-behavior: smooth;
}

body {
  background: #010103;
  font-family: 'General Sans', sans-serif;
}

.c-space {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

@media (min-width: 640px) {
  .c-space {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
}

.head-text {
  font-size: 1.875rem;
  font-weight: 600;
  background-image: linear-gradient(to right, #BEC1CF 60%, #D5D8EA 60%);
  background-clip: text;
  color: transparent;
}

@media (min-width: 640px) {
  .head-text {
    font-size: 2.25rem;
  }
}

.nav-ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  position: relative;
  z-index: 20;
}

@media (min-width: 640px) {
  .nav-ul {
    flex-direction: row;
  }
}

@media (min-width: 768px) {
  .nav-ul {
    gap: 1.5rem;
  }
}

.nav-li {
  color: #9CA3AF;
  transition: color 0.3s;
  padding: 0.5rem 1.25rem;
  border-radius: 0.375rem;
}

.nav-li:hover {
  color: #FFFFFF;
  background-color: rgba(0, 0, 0, 0.5);
}

.nav-li_a {
  font-size: 1.125rem;
  transition: color 0.3s;
}

@media (min-width: 768px) {
  .nav-li_a {
    font-size: 1rem;
  }
}

.nav-sidebar {
  position: absolute;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(10px);
  transition: all 0.3s ease-in-out;
  overflow: hidden;
  z-index: 20;
  display: block;
}

@media (min-width: 640px) {
  .nav-sidebar {
    display: none;
  }
}

.text-gray_gradient {
  background-image: linear-gradient(to right, #BEC1CF 60%, #D5D8EA 60%);
  background-clip: text;
  color: transparent;
}

/* Button component */
.btn {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 0.75rem;
  border-radius: 0.375rem;
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
  margin: auto;
  transition: all 0.3s;
}

.btn:active {
  transform: scale(0.95);
}

.btn-ping {
  animation: ping 1.5s infinite;
  position: absolute;
  display: inline-flex;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  background-color: #22C55E;
  opacity: 0.75;
}

.btn-ping_dot {
  position: relative;
  display: inline-flex;
  height: 0.75rem;
  width: 0.75rem;
  border-radius: 50%;
  background-color: #16A34A;
}

/* Hero Section */
.hero_tag {
  text-align: center;
  font-size: 1.875rem;
  font-weight: 800;
  line-height: 1.5;
}

@media (min-width: 640px) {
  .hero_tag {
    font-size: 2.25rem;
  }
}

@media (min-width: 768px) {
  .hero_tag {
    font-size: 3rem;
  }
}

@media (min-width: 1280px) {
  .hero_tag {
    font-size: 3.75rem;
  }
}

/* About Section */
.grid-container {
  width: 100%;
  height: 100%;
  border: 1px solid rgba(0, 0, 0, 0.3);
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 0.5rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

@media (min-width: 640px) {
  .grid-container {
    padding: 1.75rem;
  }
}

.grid-headtext {
  font-size: 1.25rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
  color: white;
}

.grid-subtext {
  font-size: 1rem;
  color: #AFB0B6;
}

.copy-container {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

/* Footer */
.social-icon {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.3);
  border: 1px solid rgba(0, 0, 0, 0.2);
}
