@import url('https://fonts.cdnfonts.com/css/general-sans');

@import "tailwindcss";

* {
  scroll-behavior: smooth;
}

html, body {
  overflow-x: hidden !important;
  width: 100vw !important;
}
body {
  background: rgb(0, 0, 0);
  font-family: 'General Sans', sans-serif;
}


body {
  background-image: url('/public/assets/fond32.png'); /* Chemin vers ton image */
  background-size: cover; /* Adapte l’image à l’écran en remplissant tout */
  background-position: center; /* Centre l’image */
  background-repeat: repeat; /* Évite la répétition */
  background-attachment: fixed; /* Fixe l’image pour un effet parallax */
}


.c-space {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

@media (min-width: 640px) {
  .c-space {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
}

.head-text {
  font-size: 1.875rem;
  font-weight: 600;
  background: linear-gradient(to right, #BEC1CF 60%, #D5D8EA 60%, #D5D8EA 100%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

@media (min-width: 640px) {
  .head-text {
    font-size: 2.25rem;
  }
}

.nav-ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

@media (min-width: 640px) {
  .nav-ul {
    flex-direction: row;
    gap: 1.5rem;
  }
}

.nav-li {
  color: #a3a3a3;
  font-family: 'General Sans', sans-serif;
}

.nav-li:hover {
  color: white;
}

@media (max-width: 640px) {
  .nav-li:hover {
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    border-radius: 0.375rem;
    padding: 0.5rem 1.25rem;
  }
}

.nav-li_a {
  font-size: 1.125rem;
  color: #a3a3a3;
}

.nav-li_a:hover {
  color: white;
  transition: color 0.3s;
}

@media (min-width: 768px) {
  .nav-li_a {
    font-size: 1rem;
  }
}

.nav-sidebar {
  position: absolute;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(10px);
  transition: all 0.3s ease-in-out;
  overflow: hidden;
  z-index: 20;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 640px) {
  .nav-sidebar {
    display: none;
  }
}

.text-gray_gradient {
  background: linear-gradient(to right, #BEC1CF 60%, #D5D8EA 60%, #D5D8EA 100%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.btn {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 0.75rem;
  border-radius: 0.375rem;
  background-color: rgba(0, 0, 0, 0.3);
  transition: all 0.3s;
  color: white;
  margin-left: auto;
  margin-right: auto;
}

.btn:active {
  transform: scale(0.95);
}

.btn-ping {
  animation: ping 1s infinite;
  position: absolute;
  display: inline-flex;
  height: 100%;
  width: 100%;
  border-radius: 9999px;
  background-color: #4ade80;
  opacity: 0.75;
}

.btn-ping_dot {
  position: relative;
  display: inline-flex;
  border-radius: 9999px;
  height: 0.75rem;
  width: 0.75rem;
  background-color: #22c55e;
}

.hero_tag {
  font-size: 1.875rem;
  font-family: 'General Sans', sans-serif;
  font-weight: 900;
  line-height: normal;
  text-align: center;
}

@media (min-width: 640px) {
  .hero_tag {
    font-size: 2.25rem;
  }
}

@media (min-width: 768px) {
  .hero_tag {
    font-size: 2.5rem;
  }
}

@media (min-width: 1280px) {
  .hero_tag {
    font-size: 3.75rem;
  }
}

.grid-container {
  width: 100%;
  height: 100%;
  border: 1px solid rgba(0, 0, 0, 0.3);
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 0.375rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

@media (min-width: 640px) {
  .grid-container {
    padding: 1.75rem;
  }
}

.grid-headtext {
  font-size: 1.25rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
  color: white;
  font-family: 'General Sans', sans-serif;
}

.grid-subtext {
  color: #afb0b6;
  font-size: 1rem;
  font-family: 'General Sans', sans-serif;
}

.copy-container {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.arrow-btn {
  width: 2.5rem;
  height: 2.5rem;
  padding: 0.75rem;
  cursor: pointer;
  border-radius: 9999px;
  background-image: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.1) 10%,
    rgba(255, 255, 255, 0.000025) 50%,
    rgba(255, 255, 255, 0.000025) 50%,
    rgba(255, 255, 255, 0.025) 100%
  );
}

.arrow-btn:active {
  transform: scale(0.95);
  transition: all 0.3s;
}

.tech-logo {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 0.375rem;
  padding: 0.5rem;
  background-color: rgba(245, 245, 245, 0.1);
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.client-container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 1.25rem;
  margin-top: 3rem;
}

@media (min-width: 768px) {
  .client-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

.client-review {
  border-radius: 0.375rem;
  padding: 1.25rem;
  background-color: rgba(0, 0, 0, 0.3);
  background-opacity: 0.5;
}

@media (min-width: 768px) {
  .client-review {
    padding: 2.5rem;
  }
}

.client-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 1.25rem;
  margin-top: 1.75rem;
}

@media (min-width: 1024px) {
  .client-content {
    flex-direction: row;
    align-items: center;
  }
}

.work-container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 1.25rem;
}

@media (min-width: 1024px) {
  .work-container {
    grid-template-columns: repeat(2, 1fr);
  }
}



.work-content {
  grid-column: span 2;
}

.work-content_container {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: start;
  gap: 1.25rem;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
  padding-left: 0.625rem;
  padding-right: 0.625rem;
}

.work-content_container:hover {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 0.375rem;
}

@media (min-width: 640px) {
  .work-content_container {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }
}

.work-content_logo {
  border-radius: 1.5rem;
  width: 4rem;
  height: 4rem;
  padding: 0.5rem;
  background-color: rgba(0, 0, 0, 0.6);
}

.work-content_bar {
  flex: 1;
  width: 0.125rem;
  margin-top: 1rem;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}

.work-content_bar:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

.work-content_bar:last-child {
  display: none;
}

.contact-container {
  max-width: 36rem;
  position: relative;
  z-index: 10;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  margin-top: 3rem;
}

@media (min-width: 640px) {
  .contact-container {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
}

.field-label {
  font-size: 1.125rem;
  color: rgb(255, 255, 255);
}

.field-input {
  width: 100%;
  background-color: rgba(34, 13, 54, 0.863);
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  min-height: 3.5rem;
  border-radius: 0.375rem;
  color: rgba(255, 255, 255, 0.8);
  font-size: 1.125rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.field-input:focus {
  outline: none;
}

.field-btn {
  background-color: rgba(0, 0, 0, 0.5);
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  min-height: 3rem;
  border-radius: 0.375rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.125rem;
  color: white;
  gap: 0.75rem;
}

.field-btn_arrow {
  width: 0.625rem;
  height: 0.625rem;
  object-fit: contain;
  filter: invert(1) brightness(0);
}

.social-icon {
  width: 3rem;
  height: 3rem;
  border-radius: 9999px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.3);
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.waving-hand {
  animation-name: wave-animation;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  transform-origin: 70% 70%;
  display: inline-block;
}

@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }
  15% {
    transform: rotate(14deg);
  }
  30% {
    transform: rotate(-8deg);
  }
  40% {
    transform: rotate(14deg);
  }
  50% {
    transform: rotate(-4deg);
  }
  60% {
    transform: rotate(10deg);
  }
  70% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}