.preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(135deg, #6e48aa, #9d50bb); /* Fond violet dégradé */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 9999; /* Assurez-vous qu'il est au-dessus de tout */
    overflow: hidden;
  }
  
  .logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    animation: pulse 2s infinite ease-in-out; /* Animation de pulsation */
  }
  
  .logo {
    width: 100px; /* Taille initiale du logo */
    height: auto;
    animation: scale 2s infinite ease-in-out; /* Animation de grossissement/rapetissement */
  }
  
  @keyframes pulse {
    0%,
    100% {
      opacity: 0.8; /* Opacité réduite */
    }
    50% {
      opacity: 1; /* Opacité maximale */
    }
  }
  
  @keyframes scale {
    0%,
    100% {
      transform: scale(1); /* Taille normale */
    }
    50% {
      transform: scale(1.2); /* Logo grossit */
    }
  }
  
  .loading-text {
    margin-top: 20px;
    font-size: 18px;
    color: #fff; /* Texte blanc */
    font-family: "Arial", sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    animation: fade 2s infinite ease-in-out; /* Animation de fondu */
  }
  
  @keyframes fade {
    0%,
    100% {
      opacity: 0.5; /* Texte semi-transparent */
    }
    50% {
      opacity: 1; /* Texte complètement visible */
    }
  }